.vectors .vector-input, .vectors input[type="button"] {
    padding: 10px;
    margin: 10px;
}

.vectors .vector-input input {
    padding: 2px;
    margin: 2px;
    width: 50px;
}

.vectors label {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.vectors .resultant {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}