.vectors {
    display: grid;
    grid-template-columns: auto auto;
}

.vectors .vector-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
}

.vectors .vector-input input {
    
}

.vectors .vector-input input {
    height: 20px;
    line-height: 20px;
    width: 50px;
    margin: 5px;
}

.vectors .vector-label {
    text-align: left;
    margin: 5px;
}