.chart-name {
    margin: 0;
    margin-bottom: 8px;
}

.chart {
    padding: 8px;
    border-radius: 8px;
}

.section-name {
    margin: 0;
    margin-bottom: 8px;
}

.section {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.progression {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.progression-name {
    margin: 0;
    margin-bottom: 8px;
}

.progression-concepts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.concept {
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    flex-basis: 10px;
    box-sizing: border-box;
}
.concept:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 4px;
}
.concept:only-child {
    margin: 0 8px;
}

.concept .tonic {
    font-weight: bold;
}

.concept .preset {
    margin-left: 4px;
}

.breadcrumbs {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
    font-size: 120%;
}