.stage {
    position: relative;
    margin-top: 50px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.stage hr {
    width: 90%;
}

.input-mode-selector .button-input {
    margin: 8px;
}

.stage .center {
    width: 100%;
    min-height: 100vh;
    max-width: 1024px;
    padding: 32px;
}

.output-list > * {
    margin: 32px 0;
}

.source-preset {
    margin: 16px;
}