.stage {
    position: relative;
    padding-top: 50px;
    height: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: auto 1fr;
}

.stage hr {
    width: 90%;
}

@media(min-width: 1024px) {

}

.output-list {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.output-list > * {
    margin: 32px 0;
    width: 100%
}

.source-preset {
    margin: 16px;
}

.menu {
    width: 0;
    height: 100%;
    position: relative;
    transition: width .2s;
    box-shadow: 8px 8px 8px #ccc;;
    /*overflow-y: auto;*/
}

.menu.open {
    width: 512px;
}

.menu .tab {
    height: 50px;
    width: 30px;
    position: absolute;
    top: 16px;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
}

.preset-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    margin-left: 16px;
}

.zoom-selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
}