#app {
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.stage {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto;
}

.stage *::-webkit-scrollbar {
    display: none;
}

.viewer-manager {
    padding: 32px;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.viewer-list {

}

/* Levels */

.level {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, .05);
}

.level-children {
    margin-left: 16px;
}

.level h2,.level h3 {
    margin-bottom: 8px;
}

.level-attr {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: rgba(0, 100, 0, .05);
}

.level-attr-key {
    font-weight: bold;
}