table.fretboard-strings-input {
    border-collapse: collapse;
    border: none;
    margin: 5px;
    width: 100%;
}

table.fretboard-strings-input th, table.fretboard-strings-input td {
    min-height: 20px;
    min-width: 20px;
    padding: 2px;
}