.note-name {
    height: 20px;
    width: 20px;
    margin: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.concept-input {
    position: relative;
}

.input-mode-box {
    text-align: right;
    margin: 8px;
}

.note-names {
    font-size: 120%;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}