.numeric-input {
    margin: 5px;
    -ms-user-select: none;
    user-select: none;
}

.numeric-input .box-button {
    border: 1px solid black;
}

.numeric-input .box-button:first-child {
    border-radius: 5px 0 0 5px;
}

.numeric-input .box-button:last-child {
    border-radius: 0 5px 5px 0;
}

.numeric-input .value:hover {
    cursor: inherit;
}