.box-button {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: #EEE;
    color: black;
}

.box-button.selected {
    font-weight: bold;
    background-color: #CCC;
}

.box-button:hover {
    background-color: #DDD;
}