
.section {
    background-color: #222;
    border-top: 1px solid #555;
}

.section-header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
    background-color: #333;
}

.section-header .title {
    font-size: 1.5em;
    color: #5E99D1;
}

.section-header .preview {
    color: gray;
}

.section-header .toggle {
    position: absolute;
    vertical-align: middle;
    right: 0;
    height: 100%;
    line-height: 100%;
    width: 50px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header .toggle svg, .section-header .toggle svg * {
    fill: gray;
    height: 20px;
    width: 20px;
}

.section-header:hover .toggle svg, .section-header:hover .toggle svg * {
    fill: #5E99D1;
}

.section-content {
    padding: 10px;
}