.submenu {
    border-radius: 8px;
    margin-bottom: 8px;
}

.header {
    padding: 8px;
    border-radius: 8px;
    margin: 0;
    cursor: pointer;
}

.leaf {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.leaf:hover {
    font-weight: bold;
}

.list {
    padding: 8px;
    border-radius: 8px;
}

.toggle {
    display: none;
}