.input-block {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.input-block > .content {
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

.input-block.x > .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.input-block > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 110%;
    padding: 8px 8px 8px 0;
}

.input-block > label {
    display: block;
}