.card {
    width: 100%;
    max-width: 800px;
    background-color: #EEF4FA;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #AAA;
}

.card .title, .card .content {
    text-align: center;
    padding: 10px;
}

.card .title {
    background: #8EB7DE;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.card .title:hover {
    background: #5E99D1;
    cursor: pointer;
}

.card.open .title {
    border-radius: 10px 10px 0 0;
}

.card .content {
    
}