.button-list {
    margin: 5px;
}

.button-list .box-button {
    border: 1px solid black;
}

.button-list .box-button:first-child {
    border-radius: 5px 0 0 5px;
}

.button-list .box-button:last-child {
    border-radius: 0 5px 5px 0;
}