.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    min-height: 40px;
}

.input-row:first-child {
    border-top: none;
}

.input-row .label {
    margin-left: 15px;
}